[submodule "thirdparties/stdexec"]
	path = thirdparties/stdexec
	url = https://github.com/nvidia/stdexec
[submodule "thirdparties/liburing"]
	path = thirdparties/liburing
	url = https://github.com/axboe/liburing
[submodule "thirdparties/tpch-kit"]
	path = thirdparties/tpch-kit
	url = https://github.com/gregrahn/tpch-kit
